## Немного записей с лекции

In [2]:
print("Привет, мир анализа данных!")

Привет, мир анализа данных!

In [3]:
# print() может выводить текст (он называется "строка" и пишется в кавычках)
print("Это моя первая программа на Python.")

# Может выводить числа
print(42)

# А может выводить результат вычислений
print(10 + 5)

# Можно выводить несколько значений через запятую, print() сам добавит между ними пробел
print("Ответ на главный вопрос жизни, вселенной и всего такого:", 42)

Это моя первая программа на Python.
42
15
Ответ на главный вопрос жизни, вселенной и всего такого: 42

In [4]:

# Создаем переменную `lecturer_name` и кладем в нее строку 'Дмитрий'
lecturer_name = "Дмитрий"
course_year = 2024
students_in_group = 25

# Теперь мы можем использовать эти переменные
print("Имя преподавателя:", lecturer_name)
print("Год проведения курса:", course_year)
print("Студентов в группе:", students_in_group)

# Значение в переменной можно поменять (перезаписать)
students_in_group = 26
print("Ой, один студент добавился! Теперь в группе:", students_in_group)

Имя преподавателя: Дмитрий
Год проведения курса: 2024
Студентов в группе: 25
Ой, один студент добавился! Теперь в группе: 26

In [5]:

city_name = "Москва"
temperature = -5
units = "градусов"

# Просто перечисляем переменные и текст через запятую
print("В городе", city_name, "сейчас", temperature, units)

# Это работает с любыми типами, ничего не нужно преобразовывать!
student_count = 25
print("На лекции присутствует", student_count, "студентов.")

В городе Москва сейчас -5 градусов
На лекции присутствует 25 студентов.

In [6]:
# Попробуем сложить строки
greeting = "Привет, "
name = "Алекс"
message = greeting + name
print(message)

# А теперь попробуем добавить число...
age = 30

# Эта ячейка вызовет ошибку! Раскомментируйте, чтобы проверить.
# full_message = "Возраст пользователя: " + age 

# Как это исправить? Превратить число в строку с помощью str()
full_message = "Возраст пользователя: " + str(age)
print(full_message)

# Как видите, это громоздко и легко ошибиться. Мы не будем использовать этот способ.

Привет, Алекс
Возраст пользователя: 30

In [7]:
city_name = "Казань"
temperature = 15

# Создаем сообщение с помощью f-строки
report = f"Погода в городе {city_name}: {temperature} градусов."
print(report)

# Можно использовать сколько угодно переменных
student_name = "Мария"
grade = 4.85
report_card = f"Студентка {student_name} имеет средний балл {grade}."
print(report_card)

Погода в городе Казань: 15 градусов.
Студентка Мария имеет средний балл 4.85.

In [8]:

project_id = 14887          # int
avg_temperature = -15.5     # float
city_name = "Санкт-Петербург" # str
is_course_active = True     # bool

print(f"Переменная 'project_id' имеет тип: {type(project_id)}")
print(f"Переменная 'avg_temperature' имеет тип: {type(avg_temperature)}")
print(f"Переменная 'city_name' имеет тип: {type(city_name)}")
print(f"Переменная 'is_course_active' имеет тип: {type(is_course_active)}")

Переменная 'project_id' имеет тип: <class 'int'>
Переменная 'avg_temperature' имеет тип: <class 'float'>
Переменная 'city_name' имеет тип: <class 'str'>
Переменная 'is_course_active' имеет тип: <class 'bool'>

In [9]:
a = 20
b = 7

print(f"{a} + {b} = {a + b}")    # Сложение
print(f"{a} * {b} = {a * b}")    # Умножение
print(f"{a} / {b} = {a / b}")    # Обычное деление, результат всегда float

print("--- Специальные виды деления ---")
print(f"Целочисленное деление: {a} // {b} = {a // b}") # Сколько ЦЕЛЫХ раз b помещается в a
print(f"Остаток от деления: {a} % {b} = {a % b}")   # Что останется (очень полезно для проверки на четность)
print(f"Возведение в степень: 5 ** 2 = {5 ** 2}") # 5 в квадрате

20 + 7 = 27
20 * 7 = 140
20 / 7 = 2.857142857142857
--- Специальные виды деления ---
Целочисленное деление: 20 // 7 = 2
Остаток от деления: 20 % 7 = 6
Возведение в степень: 5 ** 2 = 25

In [10]:

0.3+0.3+0.3

0.8999999999999999

In [11]:
first_name = "Илон"
last_name = "Маск"

# Сложение строк (конкатенация)
full_name = first_name + " " + last_name
print(full_name)

# Умножение строки на число (повторение)
separator = "-="
print(separator * 20)

# У строк есть "встроенные функции" - методы. Например, для изменения регистра
phrase = "Мама мыла раму"
print(f"Оригинал: {phrase}")
print(f"Все буквы заглавные: {phrase.upper()}")
print(f"Все буквы строчные: {phrase.lower()}")
print(f"Первые буквы заглавные: {phrase.title()}")

Илон Маск
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Оригинал: Мама мыла раму
Все буквы заглавные: МАМА МЫЛА РАМУ
Все буквы строчные: мама мыла раму
Первые буквы заглавные: Мама Мыла Раму

## Тут уже дз

In [13]:
name = "Мария"
surname = "Кобзева"

print(f"Меня зовут {surname} {name}, и я готов(а) страдать на курсе!")

Меня зовут Кобзева Мария, и я готов(а) страдать на курсе!

#### Обо мне:
* когда-то знала питон
* совсем забыла когда начала работать аналитиком баз данных :)
* рада освежить знания

In [15]:
# ищем остаток от деления
oper = 77 % 2

print(f"Остаток от деления  77 % 2 = {oper}")

Остаток от деления  77 % 2 = 1

In [19]:
#Узнайте четное ли число 22
a = 22
if a % 2 == 0:
    print(f"число {a} - четное")
else: 
    print(f"число {a} - нечетное")

число 22 - четное

In [21]:
# Посчитайте 86 в степени 7
print(86 ** 7)

34792782221696

In [23]:
# Найдите квадратный корень из 3686400
print(3686400 ** (1/2))

1920.0